* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-white: #ffffff;
  --light-gray: #f3f3f3;
  --black-color: #000000;
  --black-overlay: #0000004d;
  --peach-light: #e7ad99;
  --coral-pink: #CF796C;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: var(--primary-white);
}
